library/secret/
library/auth/[executable]
library/filesystem/ 
library/scheduler/
library/ssh/
clients/contrib/
clients/accounting
clients/cluster/
clients/container/ 
clients/job/
clients/mail/
clients/monitor/
clients/task/ 
clients/template/
core/base/[executable]
core/contrib/[influxdb_dataframe]
core/apps/accounting/
core/apps/alert/
core/apps/cloudtools/
core/apps/cluster/
core/apps/container
core/apps/job
core/apps/maintenance
core/apps/monitor
core/apps/operation
core/apps/template
core/apps/tensorboard
core/apps/user
core/apps/workflow
core/apps/oneapi
daemon/confluent-proxy[executable]
daemon/async-task[executable]
daemon/mail-agent[executable]
daemon/vnc-proxy
daemon/file-manager[executable]
